<div class="modal-header">
  <h5 class="modal-title">Cargar Documento</h5>
  <button class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <form class="row" [formGroup]="form">
    <div class="col-12 col-lg-6">
      <div class="mb-3">
        <label class="form-label">Nombre Documento *</label>
        <input class="form-control" formControlName="nombre" />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="mb-3">
        <label class="form-label">Codigo *</label>
        <input class="form-control" formControlName="codigo" />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="mb-3">
        <label class="form-label">Versión *</label>
        <input class="form-control" formControlName="version" />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label class="form-label">Departamento *</label>
        <select class="form-select" formControlName="modulo">
          <option [value]="null" selected>Seleccione</option>
          <option value="DAF">Departamento de Administración y Finanzas</option>
          <option value="RH">Recursos Humanos</option>
          <option value="SC">Servicio al Cliente</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label class="form-label">Área *</label>
        <select class="form-select" formControlName="subModulo">
          <option [value]="null" selected>Seleccione</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Relaciones Laborales">Relaciones Laborales</option>
          <option value="Atención al Cliente">Atención al Cliente</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label class="form-label">Descripción *</label>
        <input class="form-control" formControlName="descripcion" />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label class="form-label">Estado *</label>
        <select class="form-select" formControlName="estado">
          <option [value]="null" selected>Seleccione</option>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
        <label class="form-label">Archivo *</label>
        <input class="form-control" type="file" (change)="cargarDocumento($event)" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button class="btn btn-danger mx-2" (click)="subirDocumento()" [disabled]="form.invalid">
    <i class="las la-save"></i> Guardar
  </button>
</div>
